<div id="page">
  <div id="crumbs" class="hidden md:block">
    {% block crumbs %}
      {% include '_partials/nav/crumbs' %}
    {% endblock %}
  </div>

  <div id="content" class="flex gap-8 justify-items-start">
    <div id="main-content-start" class="flex-grow max-w-full">
      {% block mainContent %}
        {% cache %}
          <h1 class="main-heading">{{ pageHeading }}</h1>

          {# Tagy #}
          {% cache %}
            {% set relatedTags = entry.tagy.all %}
            {% if relatedTags|length %}
              <div class="tags mb-8 text-lg">
                <strong>Hashtags: </strong>
                {% for rel in relatedTags %}
                  <a class="text-content-link underline hover:no-underline" href="{{ url('tags/'~rel.slug) }}">{{ rel.title }}</a> {% if not loop.last %}, {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endcache %}

          {# Akticne Latky #}
          {% cache %}
            {% set aktivneLatky = entry.aktivneLatkyClanky.all %}
            {% if aktivneLatky|length %}
              <div class="tags mb-8 text-lg">
                <strong>Aktívne látky: </strong>
                {% for rel in aktivneLatky %}
                  <a class="text-content-link underline hover:no-underline" href="{{ url('aktivne-latky/'~rel.slug) }}">{{ rel.title }}</a> {% if not loop.last %}, {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endcache %}

          {# Top Banner #}
          <div class="top-banner">
            {% include "_partials/ads/adsenseTopBanner" %}
          </div>

          {% if entry.image is defined and entry.image|length %}
            <div class="image img-responsive right small">
              <img src="{{ entry.image.one.url('obrazok') }}" alt="{{ entry.image.one.title }}">
            </div>
          {% endif %}

          <div class="default-content">
            {% include '_partials/contentBuilder' with {contentField: entry.mainContent, blocksDir: 'mainContent'} %}
          </div>
        {% endcache %}
      {% endblock %}

      <div class="bottom-banner">
        {% include "_partials/ads/adsenseBottomBanner" %}
      </div>

      {% if entry is defined and entry.parent %}
        <div class="default-content">
          <h2>Iné {{ entry.parent.title }}</h2>
          <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 sm:gap-8">
            {% for sibling in entry.parent.children.orderBy('RAND()').limit(8) %}
              <div class="col-span-1">
                {% if sibling.image|length %}
                  <a href="{{ sibling.url }}">
                    <img src="{{ sibling.image.one.url() }}" alt="">
                  </a>
                {% endif %}
                <a href="{{ sibling.url }}"><h3>{{ sibling.title }}</h3></a>
                <p>{{ sibling.kratkyPopis }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

    {% if showSidebar is defined and showSidebar == true %}
      <div class="sidebar hidden lg:block flex-[320px] flex-grow-0 flex-shrink-0">
        {% block sidebar %}
          {# {% block subNav %}
            {% include '_partials/nav/sub' %}
          {% endblock %} #}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</div>
